@font-face {
  font-family: "Muller Bold";
  src: url("../fonts/MullerBold.eot");
  src: url("../fonts/MullerBold.woff") format("woff"),
    url("../fonts/MullerBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Muller Light";
  src: url("../fonts/MullerLight.eot");
  src: url("../fonts/MullerLight.woff") format("woff"),
    url("../fonts/MullerLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Muller UltraLight";
  src: url("../fonts/MullerUltraLight.eot");
  src: url("../fonts/MullerUltraLight.woff") format("woff"),
    url("../fonts/MullerUltraLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Muller Regular";
  src: url("../fonts/MullerRegular.eot");
  src: url("../fonts/MullerRegular.woff") format("woff"),
    url("../fonts/MullerRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Muller ExtraBold";
  src: url("../fonts/MullerExtraBold.eot");
  src: url("../fonts/MullerExtraBold.woff") format("woff"),
    url("../fonts/MullerExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.fa.fa-times,
.fa.fa-chevron-right {
  border: 3px solid #ffd800;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 39px;
  height: 39px;
  line-height: 35px;
  text-align: center;
  color: #ffffff;
}

.btn-free {
  background-color: #ffffff;
  border: 1px solid #e0e0e0 !important;
  font-size: 0.8em;
  height: 30px;
  line-height: 32px;
  padding: 0 1.5em;
  font-family: "Muller Bold";
  color: #000;
  margin: 10px 25px;
}

.btn-search {
  background-color: #ffd800;
  border-color: #ffd800;
  font-size: 18px;
  height: 40px;
  line-height: 45px;
  padding: 0 2em;
  font-family: "Muller Bold";
  font-weight: inherit;
  color: #000;
}

.more {
  justify-content: flex-end;
}

.fa-search {
  font-size: 1.2em;
}

.fa-heart {
  font-size: 2em;
  margin: 10px 25px;
  color: #e0e0e0;
  cursor: pointer;
}

.like {
  background: #ffffff;
  color: #fb0512;
}

.unlike {
  background: #ffffff;
  color: #e0e0e0;
}


.form-group {
  color: #ffffff;
}

label {
  margin: auto 0;
}

.btn-link,
.btn-link:hover,
.btn-link:active,
.btn-link:visited{
  background: transparent;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
  border: none;
  border-bottom: 1px solid #ffffff;
}

.form-control:focus {
  background: transparent;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
  border: none;
  border-bottom: 1px solid #ffffff;
}

option {
  color: #ffffff;
  background: #2c2c2c;
}

.task-title {
  margin: 70px auto;
}

#all_meetups {
  background: #ffffff url("../img/parallax-6.png") repeat center center;
  background-attachment: fixed;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

.recent_meeting {
  margin: 35px auto;
}

#recent_meeting {
  background: #f5f5f5 url("../img/parallax-6.png") repeat center center;
  background-attachment: fixed;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

#recent_meeting h2 {
  color: #000000;
}

.task-box {
  position: relative;
  margin: 0 auto;
  color: rgb(95, 112, 135);
  display: flex;
  flex-direction: column;

  height: 100%;
  max-width: 305px;
}

.task-box img {
  max-width: 100%;
  max-height: 188px;
  background-color: #ffffff;
}

.task-box .task-box-inner {
  background-color: #fff;
  height: 100%;
  box-shadow: 0 21px 46px 0 rgba(0, 0, 0, 0.07);
}

.task-box .task-box-inner .task-box-inner_desc {
  padding: 25px;
}

.task-box .task-box-inner > p {
  margin-bottom: 0;
}

.task-box .task-box-inner > a[role="button"] {
  display: inline-block;
  font-size: 13px;
  color: #0a0a0a;
  font-family: "Muller Bold";
  text-transform: uppercase;
  border-radius: 50px;
  padding-left: 25px;
  position: absolute;
  right: -15px;
  bottom: 8px;
}

.task-box .task-box-inner > a[aria-expanded="true"] {
  display: none;
}

.task-box .task-box-inner > a[role="button"]:hover {
  background-color: #ffd800;
}

.task-box .task-box-inner > a[role="button"]:hover .fa {
  background-color: #fff;
}

.task-box .task-box-inner .card.card-body {
  border: none;
  padding: 0;
}

.task-box .task-box-inner .card.card-body p {
  font-family: "Muller Regular";
  font-size: 0.8em;
  color: #000000;
}

.task-box .task-box-inner .card.card-body .fa:not(.fa-times) {
  color: #e0e0e0;
}

.task-box .task-box-inner .card.card-body .fa.fa-users,
.fa-search {
  margin-right: 10px;
}

.task-box .task-box-inner .card.card-body .fa.fa-map-marker,
.task-box .task-box-inner .card.card-body .fa.fa-microphone,
.task-box .task-box-inner .card.card-body .fa.fa-user {
  margin-left: 2px;
  margin-right: 17px;
}

.task-box .task-box-inner .card.card-body .fa.fa-commenting {
  margin-left: 2px;
  margin-right: 13px;
}

.task-box .task-box-caption-content .task-box-inner {
  border: none;
}

.task-box .task-box-inner .card.card-body a[role="button"] {
  position: absolute;
  bottom: 0;
  right: -58px;
}

.task-box .join {
  display: inline-block;
  margin: 0 auto;
  width: 194px;
  height: 43px;
  line-height: 43px;
  font-size: 13px;
  color: #0a0a0a;
  font-family: "Muller Bold";
  text-transform: uppercase;
  border-radius: 50px;
  text-align: center;
  background-color: #ffd800;
}

.task-box .join:hover {
  background-color: #ffea00;
}

.task-box .task-box-caption {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
  background-color: #2a8eff;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-shadow: 0 13px 21px 0 rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0 13px 21px 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 13px 21px 0 rgba(0, 0, 0, 0.06);
}

.task-box .task-box-caption .task-box-caption-content {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
}

.task-box-caption:after {
  position: absolute;
  bottom: 12px;
  right: 12px;
  content: "\f105";
  font-family: "FontAwesome";
  font-size: 32px;
}

.task-box .task-box-caption .task-box-caption-content .project-category,
.task-box .task-box-caption .task-box-caption-content .project-name {
  padding: 0 15px;
  font-family: "Muller Regular";
}

.task-box .task-box-caption .task-box-caption-content .project-category {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.task-box .task-box-caption .task-box-caption-content .project-name {
  font-size: 18px;
}

.task-box:hover .task-box-caption {
  opacity: 1;
}

.task-box:focus {
  outline: none;
}

#pane-speakers p {
  margin-bottom: 3px;
  color: rgb(61, 61, 61);
}

#comment hr {
  max-width: 180px;
  border-width: 2px;
  border-color: #ffd800;
  margin: -10px auto 20px 10px;
}

#task .stripe,
#recent_meeting .stripe {
  margin-top: 20px;
}

.create-meetup-section {
  padding: 35px 0;
  background-color: #ffd800;
}

.footer-email-input-wrapper input {
  display: block;
  margin: 15px auto;
}

#contact input {
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #575757;
  background-color: transparent;
  width: 230px;
  max-width: 100%;
  color: #fff;
}

.page-link {
  padding: 10px 15px;
  border-radius: 50%;
  margin: 0 10px;
  border: none;
  color: #000000;
  font-size: 0.9em;
}

.page-link:hover,
.page-link:active{
  color: #000000;
  background-color: #ffea00;
  border: none;
}

.page-item:first-child .page-link,
.page-item:last-child .page-link,
.page-item:first-child .page-link:hover,
.page-item:last-child .page-link:hover,
.page-item:first-child .page-link:active,
.page-item:last-child .page-link:active{
  font-size: 1em;
  color: #909090;
  background: none;
  outline: none;
  cursor: pointer;
}

@media (min-width: 768px) {
  header.masthead p {
    font-size: 25px;
    font-family: "Muller Light";
    padding: 0 6em;
  }
  .task-box .task-box-caption .task-box-caption-content .project-category {
    font-size: 16px;
  }
  .task-box .task-box-caption .task-box-caption-content .project-name {
    font-size: 22px;
  }

  #comment .owl-item-inner {
    width: 70%;
    margin: auto;
  }

  .work-box-bg-img,
  .media-box-bg-img {
    min-height: 346px;
  }
  #task {
    margin-top: 0;
    padding-top: 10rem;
  }

  #task p {
    color: #ffffff;
  }

}

@media (min-width: 992px) {

  .search-button-wrapper {
    margin: 0;
  }
}
