@font-face {
  font-family: "Muller Bold";
  src: url("../fonts/MullerBold.eot");
  src: url("../fonts/MullerBold.woff") format("woff"),
    url("../fonts/MullerBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Muller Light";
  src: url("../fonts/MullerLight.eot");
  src: url("../fonts/MullerLight.woff") format("woff"),
    url("../fonts/MullerLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Muller UltraLight";
  src: url("../fonts/MullerUltraLight.eot");
  src: url("../fonts/MullerUltraLight.woff") format("woff"),
    url("../fonts/MullerUltraLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Muller Regular";
  src: url("../fonts/MullerRegular.eot");
  src: url("../fonts/MullerRegular.woff") format("woff"),
    url("../fonts/MullerRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Muller ExtraBold";
  src: url("../fonts/MullerExtraBold.eot");
  src: url("../fonts/MullerExtraBold.woff") format("woff"),
    url("../fonts/MullerExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

::-webkit-input-placeholder {
  color: #fff;
}
::-moz-placeholder {
  color: #fff;
}
:-ms-input-placeholder {
  color: #fff;
}
:-moz-placeholder {
  color: #fff;
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Muller Regular";
}

hr {
  max-width: 72px;
  border-width: 3px;
  border-color: #ffd800;
  margin-left: 0;
}

hr.light {
  border-color: #fff;
}

a {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover {
  color: #000000;
  text-decoration: underline;
}

h1,
h2,
h3,
h5 {
  text-align: center;
}

h5 {
  text-transform: uppercase;
}
h1 {
  font-family: "Muller ExtraBold";
}
h2 {
  font-family: "Muller ExtraBold";
  color: #ffffff;
}
h3 {
  font-family: "Muller Light";
  font-size: 24px;
}
h4 {
  font-family: "Muller ExtraBold";
  font-size: 19px;
  margin-bottom: 6px;
}
h5 {
  font-family: "Muller Bold";
  font-size: 16.42px;
}
h6 {
  font-family: "Muller ExtraBold";
  font-size: 20px;
}
p {
  font-family: "Muller Light";
  font-size: 15px;
}
section {
  padding: 85px 0;
}

::-moz-selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

.fa.fa-plus,
.fa.fa-minus{
  border: 3px solid #ffd800;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 39px;
  height: 39px;
  line-height: 35px;
  text-align: center;
}

.fa-star {
  margin: 0 3px;
  font-size: 16px;
}
.yellow {
  color: #ffd800;
}
.gray {
  color: #e4e4e4;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 300px;
  font-family: "Muller Regular";
}

.btn-primary {
  background-color: #ffd800;
  border-color: #ffd800;
  font-size: 20px;
  height: 60px;
  line-height: 65px;
  padding: 0 2em;
  font-family: "Muller Bold";
  font-weight: inherit;
  color: #000;
}

.btn-primary:hover {
  background-color: #ffea00;
  color: #000;
}

.btn-primary:active,
.btn-primary:focus {
  background-color: #ffea00;
  color: #000;
}

.btn-join {
  background-color: #ffd800;
  border-color: #ffd800;
  font-size: 20px;
  height: 50px;
  line-height: 55px;
  padding: 0 4em;
  font-family: "Muller Bold";
  font-weight: inherit;
  color: #000;
}

.btn-rate,
.btn-create-meetup {
  background-color: #ffd800;
  border-color: #ffd800;
  font-size: 18px;
  height: 50px;
  line-height: 55px;
  padding: 0 2em;
  font-family: "Muller Bold";
  font-weight: inherit;
  color: #000;
}

.btn-create-meetup {
  padding: 0 50px;
  margin-top: -50px;
  z-index: 2;
  background-color: #fff;
  font-size: 20px;
}

.btn-join:hover,
.btn-rate:hover {
  background-color: #ffea00;
}

.btn-create-meetup:hover {
  background-color: #2c2c2c;
  color: #fff;
}

.fa-search {
  font-size: 1.2em;
}

.fa-microphone,
.fa-map-marker {
  font-family: "FontAwesome";
  margin-right: 14px;
  font-size: 1.2em;
  color: #ffd800;
}

.section-title {
  margin-bottom: 25px;
  color: #0a0a0a;
}

.section-title-left {
  text-align: start;
}

.stripe {
  display: block;
  margin: 42px auto;
}

.stripe-path {
  stroke-width: 3px;
  stroke: #ffd800;
  fill: none;
}

.about-meetups,
.comment-text {
  display: inline-block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  mix-height: 5.8em;
  line-height: 1.5em;
  font-family: "Muller Regular";
}

.comment-text,
.comment-time {
  display: inline-block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 5.8em;
  line-height: 1.5em;
  font-family: "Muller Regular";
}

.comment-text,
.comment-time {
  font-size: 0.7em;
}

.comment-time {
  margin: 0;
}

.color-gray {
  color: #4e555b;
  font-size: 1.4em;
}

#mainNav {
  padding-top: 13px;
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: #ffffff;
  font-family: "Muller Regular";
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

#mainNav.navbar-light .navbar-nav .nav-link {
  color: #000000;
}

#mainNav.navbar-light .navbar-toggler {
  background-color: #ffffff;
  border: none;
  outline: none;
}
#mainNav .navbar-nav > li.nav-item > a.nav-link.active {
  position: relative;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active:after {
  position: absolute;
  content: "";
  left: 46%;
  bottom: 0;
  width: 57px;
  height: 6px;
  background-color: #ffd800;
}

#nav-icon1 {
  padding: 0;
  margin: 0;
  width: 30px;
  height: 22px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #000000;
  border-radius: 5px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0;
}

#nav-icon1 span:nth-child(2) {
  top: 9px;
}

#nav-icon1 span:nth-child(3) {
  top: 18px;
}

#nav-icon1.open span:nth-child(1) {
  top: 9px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 9px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.navbar-logo {
  justify-content: flex-end;
  display: flex;
}

.gray-separator {
  max-width: 100%;
  border-width: 1px;
  color: #e0e0e0;
  border-color: #e0e0e0;
  margin: 5px 0;
}

.container-navbar,
.contactsNavbar {
  display: flex;
  justify-content: center;
}

.contactsItems {
  display: flex;
  flex-direction: column;
  font-size: 0.85rem;
}

.dropdown-menu .fa {
  color: rgb(95, 112, 135);
  margin-right: 10px;
}

.contactsItem {
  font-size: 1em;
  color: #000000;
  text-decoration: none;
}

.navbar-brand img:first-child,
.footer-logo img:first-child {
  margin-right: 10px;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  right: 0;
  left: auto;
}

.user-name {
  font-family: "Muller Bold";
  font-size: 0.7em;
  margin-top: 5px;
  margin-bottom: 0;
}

#task {
  background: url("../img/parallax-6-dark.png") repeat center center,
    url("../img/main-dark.png") no-repeat center 0;
  background-attachment: fixed, scroll;
  -webkit-background-size: contain, cover;
  -moz-background-size: contain, cover;
  -o-background-size: contain, cover;
  background-size: contain, cover;
  overflow-x: hidden;
}

#task .container {
  padding-top: 7rem;
  padding-bottom: 0;
}

#task .dots-button {
  width: 93%;
  height: 93%;
  background-color: #f1f1f1;
  color: #848484;
}

.event {
  color: #ffffff;
}

.event-category {
  background-color: transparent;
  border: 1px solid #fff;
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  padding: 0.7em 1.8em;
  font-family: "Muller Regular";
  font-weight: normal;
  color: #fff;
  border-radius: 300px;
}

.event-category:hover {
  color: #fff;
}

.event-rating .fa-star {
  padding-top: 20px;
  font-size: 1.5em;
}

.svg-calendar,
.svg-time,
.svg-price {
  margin-right: 10px;
}

.owl-prev,
.owl-next {
  width: 15px;
  height: 100px;
  position: absolute;
  border: 0 solid black;
}

#people {
  position: relative;
  background: #f7f8f9 url("../img/parallax-6.png") repeat center center;
  background-attachment: fixed;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  z-index: 1;
}

#people .owl-prev {
  top: 19%;
  left: -55px;
  outline: none;
}

#people .owl-next {
  top: 19%;
  right: -50px;
  outline: none;
}

#people .owl-prev i,
#people .owl-next i {
  font-size: 60px;
  color: #dadada;
}

#people .owl-item {
  padding: 0 36px;
  overflow: hidden;
}
#people .owl-item-inner {
  padding: 50px 0 75px 100px;
  box-shadow: 0 5px 49px 0 rgba(0, 0, 0, 0.04);
  min-height: 200px;
  background-color: #fff;
}

#people h2 {
  color: #000000;
}

#people h6 {
  font-family: "Muller ExtraBold";
  font-size: 20px;
}

#people .owl-carousel .owl-item img.rounded-circle {
  width: auto;
  position: absolute;
  left: 0;
  top: 25px;
}

#people .owl-carousel .owl-item p {
  margin: 0;
}

.people-wrapper {
  margin: auto;
  padding: 20px;
  width: 86%;
}

.speaker-name-link {
  text-decoration: none;
  color: #0a0a0a;
}

.speaker-name-link_task {
  text-decoration: none;
  color: #ffffff;
}

.speaker-name-link_task:hover,
.speaker-name-link_task:active,
.speaker-name-link_task:visited {
  text-decoration: underline;
  color: #ffffff;
}


#comment {
  background: #2a2a2a url(../img/parallax-6-dark.png) repeat center center;
  background-attachment: fixed;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  color: #fff;
  font-family: "Muller Light";
  padding: 40px 0 40px 0;
  z-index: 1;
}

#comment .owl-item {
  padding: 0 36px;
  overflow: hidden;
}
#comment .owl-item-inner {
  padding: 10px;
  box-shadow: 0 5px 49px 0 rgba(0, 0, 0, 0.04);
  min-height: 180px;
  background-color: #2a2a2a;
  border: 1px solid #909090;
}

#comment h6 {
  font-family: "Muller Bold";
  font-size: 15px;
  margin: auto auto auto 0;
}

#comment .owl-carousel .owl-item img {
  width: 50px;
  height: 50px;
}

.comment-wrapper {
  margin: auto;
  padding: 15px;
  width: 90%;
}

#comment .star {
  margin: auto;
}

#comment hr {
  max-width: 180px;
  border-width: 2px;
  border-color: #ffd800;
  margin: -10px auto 20px 10px;
}

#task a[role="button"] {
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  color: #fff;
  font-family: "Muller Bold";
  text-transform: uppercase;
  border-radius: 50px;
  padding-left: 25px;
  position: absolute;
  right: 15px;
}
#task > a[aria-expanded="true"] {
  display: none;
}
#task a[role="button"]:hover {
  background-color: #ffd800;
  color: #000;
}
#task a[role="button"]:hover .fa {
  background-color: #fff;
  color: #000;
}
#task .more-button-icon {
  margin-left: 15px;
}

#photo-gallery {
  margin-bottom: -8px;
  padding: 0;
}
.photo {
  display: block;
  transform: translateZ(0);
}
.photo:hover {
  display: block;
  transform: translateZ(0) scale(1.1);
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  z-index: 100;
}
.photo:last-child {
  transform-origin: right center;
}

.image {
  cursor: zoom-in;
}

.popup {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: none;
  text-align: center;
}

.popup_bg {
  background: rgba(0,0,0,0.4);
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: auto;
  height: auto;
}

.popup_img {
  position: fixed;
  z-index: 1000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 600px;
  width: auto;
  pointer-events: none;
}



#comment .owl-prev {
  top: 18%;
  left: -35px;
  outline: none;
}

#comment .owl-next {
  top: 18%;
  right: -30px;
  outline: none;
}

#comment .owl-prev i,
#comment .owl-next i {
  font-size: 60px;
  color: #565656;
  outline: none;
}

#guests {
  padding-top: 64px;
  padding-bottom: 38px;
  background: #ffd800 url("../img/parallax-6.png") repeat center center;
  background-attachment: fixed;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  z-index: 1;
}

#guests .guest a {
  text-decoration: none;
  color: #222;
}

#guests .guest i {
  border: 3px solid transparent;
  font-size: 35px;
}

#guests .guest button {
  background-color: #fff;
  width: 87px;
  height: 87px;
  border: none;
  cursor: pointer;
  margin: 20px auto;
  display: block;
  color: #222;
}

#guests .guest button:hover {
  background-color: #2c2c2c;
  color: #fff;
}

#guests .owl-carousel .owl-item img {
  width: 115px;
  height: 115px;
  margin: 20px auto;
}

#guests .guest-name {
  text-align: center;
}

#guests .stripe-path {
  stroke: #fff;
  margin-top: 20px;
}

#guests .owl-prev {
  top: 15%;
  left: -20px;
  outline: none;
}

#guests .owl-next {
  top: 15%;
  right: -15px;
  outline: none;
}

#guests .owl-prev i,
#guests .owl-next i {
  font-size: 60px;
  color: #fff;
  outline: none;
}

#guests .owl-carousel .owl-dots .owl-dot.active span {
  background: #fff;
}

#guests .owl-carousel .owl-dots .owl-dot span {
  background: #e0be00;
}

.btn-add-guest {
  padding: 0 70px;
  background-color: #fff;
  margin: 45px auto 0 auto;
  display: block;
}

.btn-add-guest:hover {
  background-color: #2c2c2c;
  color: #fff;
}

#place .stripe,
#people .stripe,
#comment .stripe {
  margin-top: 20px;
}

#place {
  position: relative;
  background: #f7f8f9 url("../img/parallax-6.png") repeat center center;
  background-attachment: fixed;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  z-index: 1;
  padding-bottom: 50px;
  overflow-x: hidden;
}

#place .owl-item {
  overflow: hidden;
}

#place .owl-carousel .owl-item img {
  margin: 0 auto 0 auto;
  width: auto;
}

#place .button {
  margin-left: -14px;
  margin-top: 25px;
}

#place .fa {
  color: #dfdfdf;
  margin-right: 18px;
  font-size: 20px;
}

.place-description,
#place a {
  display: flex;
  align-items: flex-end;
  color: #212529;
  font-family: "Muller Regular";
  font-size: 11px;
}

.place-description-section {
  margin: 50px auto 0 auto;
  width: auto;
}

.btn-join-meetup {
  padding: 0 68px;
  font-size: 14px;
}

.owl-carousel .owl-dots {
  margin-top: 30px;
  text-align: center;
}

.owl-carousel .owl-dots .owl-dot {
  display: inline-block;
  outline: none;
}

.owl-carousel .owl-dots .owl-dot span {
  background: #dae5ea;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: block;
  height: 10px;
  margin: 0 15px;
  width: 10px;
}

.owl-carousel .owl-dots .owl-dot.active:hover,
.owl-carousel .owl-dots .owl-dot.active:focus {
  outline: none;
}

.owl-carousel .owl-dots .owl-dot.active span {
  background: #ffd800;
}

.create-meetup-section {
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: #ffd800;
}

#contact {
  background: #2a2a2a url("../img/parallax-footer.png") no-repeat center center;
  background-attachment: fixed;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  color: #fff;
  font-family: "Muller Light";
  padding: 18px 0 25px 0;
  z-index: 2;
}
#contact a {
  color: #909090;
  font-size: 14px;
}
#contact a:hover {
  text-decoration: underline;
}
#contact .fa {
  color: #909090;
  margin-right: 18px;
}
#contact .row {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#contact .btn {
  background-color: #ffd800;
  border-color: #ffd800;
  font-size: 14px;
  font-family: "Muller Bold";
  font-weight: inherit;
  color: #000;
  padding: 6px 30px;
  display: block;
  margin: 20px auto 0 auto;
}

#contact .btn:hover {
  background-color: #ffea00;
}

.footer-email-input-wrapper input {
  display: block;
  margin: 15px auto;
}

#contact input {
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #575757;
  background-color: transparent;
  width: 230px;
  max-width: 100%;
  color: #fff;
}

#contact p > input {
  padding: 9px 0 9px 4px;
}

#contact input::placeholder {
  color: #909090;
}

.footer-logo {
  margin-top: 19px;
  margin-bottom: 31px;
}

.footer-text {
  color: #909090;
}

.footer-quick-link {
  margin-bottom: 5px;
}

.footer-section-title {
  font-family: "Muller Bold";
  margin-top: 36px;
  margin-bottom: 15px;
}

.footer-title-divider {
  margin-top: 0;
  margin-bottom: 20px;
  width: 27px;
}

.rights-section {
  padding: 18px 0 0 0;
  background-color: #202020;
  text-align: center;
  color: #909090;
}

@media (min-width: 431px) and (max-width: 767px) {
  .navbar {
    padding: 5px;
  }

  #comment hr {
    margin-top: -40px;
    margin-bottom: 50px;
  }

  .navbar-logo img {
    width: 40%;
    height: auto;
  }

  .navbar-brand img:first-child {
    width: 50px;
    height: auto;
  }
  .navbar-brand img:last-child {
    width: 80px;
    height: auto;
  }

  .navbar .row {
    justify-content: space-between;
  }

  .navbar-collapse {
    margin: 0 auto;
  }

  #mainNav .navbar-nav > li.nav-item > a.nav-link.active:after {
    left: 40%;
  }

  #task {
    padding-bottom: 50px;
  }

  .event-category{
    padding: 0.8em 1.5em;
  }

  #place .owl-item-inner {
    padding: 20px 0 0 0;
  }

  #people .owl-item-inner {
    padding: 50px 0 75px 120px;
  }

  .footer-logo img {
    margin: 0 auto;
  }
  .footer-logo img:first-child {
    margin-bottom: 10px;
    margin-right: 10px;
  }
  #contact .btn {
    margin: 30px 0 0 0;
  }
  .footer-email-input-wrapper input {
    margin: 20px 0 1rem 0;
  }
  #contact input {
    width: 280px;
  }
}

@media (min-width: 768px) {
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active:after {
    right: -10px;
  }

  #comment .owl-item-inner {
    width: 70%;
    margin: auto;
  }

  section {
    padding: 40px 0 20px;
  }
  #mainNav {
    border-color: transparent;
    background-color: #ffffff;
    padding-right: 0 !important;
  }
  #task .container {
    position: relative;
    padding-top: 12rem;
    padding-bottom: 83px;
    z-index: 999;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    padding: 0.5rem 1rem;
    font-size: 15px;
  }
  #mainNav.navbar-light .navbar-nav .nav-link,
  #mainNav.navbar-light .navbar-nav .nav-link:focus,
  #mainNav.navbar-dark .navbar-nav .nav-link:hover {
    color: #000;
  }
  #mainNav #navbarResponsive .navbar-collapse {
    justify-content: flex-end;
  }

  #mainNav .navbar-nav > li.nav-item > a.nav-link:not(.active):hover {
    text-decoration: underline;
  }

  #task {
    min-height: 450px;
    padding-top: 0;
    padding-bottom: 0;
  }

  h2 {
    font-size: 35px;
  }

  .btn-primary {
    width: 140px;
    max-width: 90%;
    height: 50px;
    line-height: 55px;
    color: #000;
    padding: 0;
  }

  .people-wrapper {
    height: 260px;
    width: 67%;
  }

  #guests {
    padding-bottom: 120px;
  }

  #guests .guest button {
    width: 115px;
    height: 115px;
  }

  .comment-wrapper {
    height: 260px;
  }

  #place {
    padding-bottom: 85px;
  }

  #place .owl-carousel .owl-item img {
    margin: 0 auto 0 auto;
    width: auto;
  }

  .place-description-section {
    padding-left: 60px;
    margin: auto;
  }

  .place-info-wrapper {
    width: 710px;
    max-width: 710px;
    margin: auto;
  }

  .footer-quick-links-wrapper,
  .footer-email-input-wrapper {
    padding-left: 55px;
  }

  .footer-email-input-wrapper input {
    margin-top: 0;
  }

  .rights-section,
  #contact {
    z-index: 1030;
    position: relative;
  }
}

@media (min-width: 992px) {
  .container-navbar,
  .contactsNavbar {
    justify-content: space-around;
  }

  #mainNav .navbar-nav > li.nav-item > a.nav-link.active:after {
    left: 16px;
  }

  .event-item {
    margin-top: -200px;
  }

  .footer-quick-links-wrapper {
    padding-left: 70px;
  }

  .footer-email-input-wrapper {
    padding-left: 15px;
  }

  .place-description-section {
    padding-left: 70px;
  }

  .place-info-wrapper {
    width: 1000px;
    max-width: 1000px;
  }

  #people .owl-carousel .owl-dots {
    margin-top: 50px;
    text-align: center;
  }
  #people .owl-carousel .owl-dots .owl-dot {
    display: inline-block;
  }
  #people .owl-carousel .owl-dots .owl-dot span {
    background: #dae5ea;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: block;
    height: 10px;
    margin: 0 15px;
    width: 10px;
  }
  #people .owl-carousel .owl-dots .owl-dot.active:hover,
  #people .owl-carousel .owl-dots .owl-dot.active:focus {
    outline: none;
  }
  #people .owl-carousel .owl-dots .owl-dot.active span {
    background: #ffd800;
  }

  .people-wrapper {
    width: 86%;
  }

  #comment .owl-item-inner {
    width: 100%;
    margin: auto;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1000px;
    max-width: 1000px;
  }



  #contact {
    padding: 50px 0 70px 0;
  }
}

@media only screen and (max-device-width: 1200px) {
  #task {
    background-attachment: scroll, scroll;
  }
  #guests,
  #comment,
  #place,
  #people {
    background-attachment: scroll;
  }
}

@media only screen and (max-width: 430px) {
  .navbar {
    padding: 0;
  }

  section {
    padding: 20px 0;
  }

  .people-wrapper {
    height: 250px;
  }

  #task .container {
    padding-top: 50px;
  }

  #comment .star {
    margin-top: 10px;
  }

  #comment hr {
    margin-top: -40px;
    margin-bottom: 50px;
  }

  .navbar-logo img {
    width: 40%;
    height: auto;
  }

  #mainNav .navbar-nav > li.nav-item > a.nav-link.active:after {
    left: 42%;
  }

  .navbar-brand img:first-child {
    width: 50px;
    height: auto;
  }
  .navbar-brand img:last-child {
    width: 80px;
    height: auto;
  }

  #people .owl-carousel .owl-item img.rounded-circle{
    top: 0;
    left: 32%;
    width: 100px;
    height: auto;
  }

  #people .owl-item-inner{
    padding: 100px 0px 10px 0px;
    text-align: center;
  }
}

@media only screen and (max-width: 321px) {
  .btn-join{
    padding: 0 2em;
  }

  #people .owl-carousel .owl-item img.rounded-circle{
    width: 80px;
    height: auto;
  }

  #people .owl-item-inner{
    padding: 100px 0 20px 0;
  }

  #people .owl-item{
    padding: 0 16px;
  }

  #people .owl-item-inner{
    min-height: 150px;
  }

  .speaker-name-link,
  #people .owl-item-inner p,
  #people .owl-item-inner .fa-star{
    font-size: 0.8em;
  }

  #mainNav .navbar-nav > li.nav-item > a.nav-link.active:after{
    left: 40%;
  }
}

/*form styles*/
#msform {
  width: 500px;
  margin: 400px auto;
  text-align: center;
  position: relative;
  background-color: #ffffff;
  padding-top: 20px;
  border-radius: 3px;
}
#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 3px;
  padding: 30px;
  box-sizing: border-box;
  width: 100%;
  margin-top: -3px;
  position: relative;
}

#msform fieldset:not(:first-of-type) {
  display: none;
}
/*inputs*/
#msform input,
#msform textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  color: #2C3E50;
  font-size: 13px;
}

#msform .action-button {
  width: 100px;
  background: #ffd800;
  font-size: 12px;
  font-family: "Muller Bold" ;
  color: #000000;
  border: 0 none;
  border-radius: 300px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
  text-transform: uppercase;
}
#msform .action-button:hover, #msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #ffd800;
  outline: none;
}
{
  margin: 10px auto;
  font-family: "Muller Bold";
}

.fs-title,
.form-title{
  font-size: 20px;
  color: #000000;
  margin: 20px auto;
  font-family: "Muller Bold";
}
.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}

#progressbar {
  padding: 10px;
  overflow: hidden;
  counter-reset: step;
  color: #000000;
}

#progressbar li {
  list-style-type: none;
  color: #000000;
  font-size: 11px;
  width: 25%;
  float: left;
  position: relative;
}

#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 30px;
  line-height: 30px;
  display: block;
  font-size: 12px;
  color: #333;
  background: #ffffff;
  border: 2px solid #ccc;
  border-radius: 50%;
  margin: 0 auto 5px auto;
}

#progressbar li:after {
  content: '';
  width: 74%;
  height: 2px;
  background: #ccc;
  position: absolute;
  left: -37%;
  top: 15px;
}

#progressbar li:first-child:after {
  content: none;
}

#progressbar li.active:before{
  border-color: #ffd800;
  color: #000000;
}

#progressbar li.active:after {
  background-color: #ffd800;
}

#modal_form {
  border-radius: 5px;
  border: none;
  background: #fff;
  position: fixed;
  top: 45%;
  left: 50%;
  margin-top: -200px;
  margin-left: -260px;
  display: none;
  opacity: 0;
  z-index: 5;
  padding: 20px 10px;
}
#modal_form #modal_close {
  width: 21px;
  height: 21px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  display: block;
}

#overlay {
  z-index:3;
  position:fixed;
  background-color:#000;
  opacity:0.8;
  -moz-opacity:0.8;
  filter:alpha(opacity=80);
  width:100%;
  height:100%;
  top:0;
  left:0;
  cursor:pointer;
  display:none;
}

