@font-face {
  font-family: "Muller Regular";
  src: url("../fonts/MullerRegular.eot");
  src: url("../fonts/MullerRegular.woff") format("woff"),
    url("../fonts/MullerRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Muller Bold";
  src: url("../fonts/MullerBold.eot");
  src: url("../fonts/MullerBold.woff") format("woff"),
  url("../fonts/MullerBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

  /*border-color: #ffd800;*/

/*---new style-----*/

* {margin: 0; padding: 0;}

html {
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

body {
  font-family: "Muller Regular";
}
/*form styles*/
#msform {
  width: 500px;
  margin: 10px 0 0 0;
  text-align: center;
  position: relative;
  background-color: #ffffff;
  padding-top: 20px;
  border-radius: 3px;
}
#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 3px;
  padding: 30px;
  box-sizing: border-box;
  width: 100%;
  margin-top: -3px;
  position: relative;
}

#msform fieldset:not(:first-of-type) {
  display: none;
}
/*inputs*/
#msform input,
#msform textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  color: #2C3E50;
  font-size: 13px;
}

/*buttons*/
#msform .action-button {
  width: 100px;
  background: #ffd800;
  font-size: 12px;
  font-family: "Muller Bold" ;
  color: #000000;
  border: 0 none;
  border-radius: 300px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
  text-transform: uppercase;
}
#msform .action-button:hover, #msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #ffd800;
  outline: none;
}
/*headings*/
 {
  margin: 10px auto;
  font-family: "Muller Bold";
}

.fs-title,
.form-title{
  font-size: 20px;
  color: #000000;
  margin: 20px auto;
  font-family: "Muller Bold";
}
.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}
/*progressbar*/

#progressbar {
  padding: 10px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
  color: #000000;
}

#progressbar li {
  list-style-type: none;
  color: #000000;
  font-size: 11px;
  width: 25%;
  float: left;
  position: relative;
}

#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 30px;
  line-height: 30px;
  display: block;
  font-size: 12px;
  color: #333;
  background: #ffffff;
  border: 2px solid #ccc;
  border-radius: 50%;
  margin: 0 auto 5px auto;
}
/*progressbar connectors*/

#progressbar li:after {
  content: '';
  width: 74%;
  height: 2px;
  background: #ccc;
  position: absolute;
  left: -37%;
  top: 15px; /*put it behind the numbers*/
}

#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before{
  border-color: #ffd800;
  color: #000000;
}

#progressbar li.active:after {
  background-color: #ffd800;
}

/*Rating stars*/


.reviewStars-input input:checked~label,
.reviewStars-input label,
.reviewStars-input label:hover,
.reviewStars-input label:hover~label{
  background: url('http://positivecrash.com/wp-content/uploads/ico-s71a7fdede6.png') no-repeat;
  outline: none;
}

.reviewStars-input {
  width: 80%;
  overflow: hidden;
  *zoom: 1;
  position: relative;
  float: left;
  margin: 10px;
}

.reviewStars-input input {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  width: 43px;
  height: 40px;
  position: absolute;
  top: 0;
  z-index: 0;
}

.reviewStars-input input:checked ~ label {
  background-position: 0 -40px;
  height: 40px;
  width: 43px;
}

.reviewStars-input label {
  background-position: 0 0;
  height: 40px;
  width: 43px;
  float: right;
  cursor: pointer;
  margin-right: 10px;
  position: relative;
  z-index: 1;
}

.reviewStars-input label:hover,
.reviewStars-input label:hover~label {
  background-position: 0 -40px;
  height: 40px;
  width: 43px;
}

.reviewStars-input .star-0 {
  left: 0;
}

.reviewStars-input .star-1 {
  left: 53px;
}

.reviewStars-input .star-2 {
  left: 106px;
}

.reviewStars-input .star-3 {
  left: 159px;
}

.reviewStars-input .star-4 {
  left: 212px;
}

