#tab-title {
  position: relative;
  background-color: #ffffff;
  padding-top: 150px;
}

#tab-title .nav-tabs{
  border: none;
}

#tab-title .nav-tabs li{
  margin: 0 auto;
}

#tab-title .nav-tabs li>a{
  color: #000000;
  font-size: 1.2em;
}

#tab-title .nav-tabs .show{
  position: relative;
  color: #000000;
  font-family: "Muller ExtraBold";
  text-decoration: none;
}

#tab-title .nav-tabs > li > a.show:after {
  position: absolute;
  content: "";
  left: 30%;
  top: 36px;
  width: 50px;
  height: 8px;
  background-color: #ffd800;
}


#tabs {
  position: relative;
  background-color: #f7f8f9;
}

/*--------------sidebar-styles-------------*/

#wrapper {
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  width: 200px;
  background: #000;
  height: 100%;
  overflow-y: auto;
  transition: all 0.4s ease 0s;
}

#wrapper.active {
  padding-left: 0;
}

#wrapper.active #sidebar-wrapper {
  left: 0;
}

#page-content-wrapper {
  width: 100%;
}

#sidebar-wrapper {
  position: fixed;
  top: 200px;
  width: 200px;
  height:600px;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 1;
  background-color:#f7f8f9;
}

.sidebar-nav li {
  display: block;
  line-height: 20px;
  width: 100%;
  padding: 15px 0 15px 20px;
}

.side a{
  color: #999999;
  display: block;
  text-decoration: none;
}

.side a:hover {
  text-decoration: none;
}

#spy .sidebar-nav li:hover,
#spy .sidebar-nav li.active {
  color: #000000;
  font-family: "Muller Bold";
  background-color: #ffd800;
  text-decoration: none;
}

.btn-menu {
  color: #000;
}

.inset {
  padding: 20px;
}

.input_file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

label{
  border-radius: 50%;
  cursor:pointer;
  width: 50%;
  margin: 0 25%;
}

input,
select{
  width:100%;
  padding:10px;
  box-sizing:border-box;
  background:none;
  outline:none;
  resize:none;
  border:0;
  transition:all .3s;
  border-bottom:2px solid #bebed2;
}

select {
  padding: 0.5em 2.5em 0.5em 1em;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image:

      linear-gradient(45deg, transparent 50%, #bebed2 50%),
      linear-gradient(135deg, #bebed2 50%, transparent 50%);
  background-position:

      calc(100% - 18px) calc(1em + 2px),
      calc(100% - 10px) calc(1em + 2px);
  background-size:
      8px 8px,
      8px 8px;
  background-repeat: no-repeat;
}

input:focus,
select:focus {
  border-bottom:2px solid #ffd800;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus{
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;

}

p:before {
  content:attr(type);
  display:block;
  margin:28px 0 0;
  font-size:14px;
  color:#5a5a5a;
}

option:first-child {
  color: #5a5a5a;
}

textarea {
  outline: none;
  -moz-appearance: none;
  border: 1px solid #999;
  resize: none;
  width: 90%;
}

.pers-flex {
  display: flex;
  align-items: center;
}
.input-pers {
  width: 80%;
}
.right-btn {
  display: flex;
  justify-content: flex-end;
}
.sett-btn {
  padding: 0 !important;
  width: 275px;
}

.well legend{
  margin-top: 50px;
}

#pers_info {
  margin-top: 0px;
}

.fallbackDatePicker {
  margin-left: 3px;
}

@media (min-width: 992px) {
  #tab-title {
    padding-top: 170px;
  }

  #sidebar-wrapper {
    top: 220px;
  }
}

@media (min-width: 768px) {
  .sidebar-nav li {
    padding-left: 5px;
    width: 150px;
  }
}

@media (max-width: 426px) {
  #tab-title .nav-tabs > li > a.show:after {
    top: 20px;
    height: 3px;
  }

  #tab-title {
    padding-top: 70px;
  }
}
